*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Abhaya Libre', sans-serif;
}
.weather {
  background-position: top;
  background-repeat: no-repeat;
  background-size:inherit;
  height: 812px;
  background-image: url("https://s3-alpha-sig.figma.com/img/fac3/d34c/9de36001a0149bb1cb5ca78b1687489f?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SJXRVKTgl32x4wCl~rQx8et-LBW8j-bzrgHnbOGvk5nA38ovybQnynamNLmyg8lFlECevNWBZlZW5rAvFw8smGg2O1wxWcXxrnka2A6QUhQg9IAaZX63brvIoiDv-r5S-T29jUOxG4tyD5N~CD8unYkhlrcJ5KVXBebnDi8~Nnxw9uniEo6rQJNU5NUFf0~W2cyidfB1PALLsof1yNbZrsxnvnSEgEAZJw~RQSZfHbuqIWSHqQ1TFUaXm-Hll3tavR02gMPSrZHHfsWefFbIUXtcnB9RWWoRbuUpYdogsiMbhS2bMBVBvl9r5LUb6V536JxWJRsMGQRX3YUusuEPJA__");
}
@media (min-width: 950px) {
  .weather {
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    background-image: url("https://s3-alpha-sig.figma.com/img/fac3/d34c/9de36001a0149bb1cb5ca78b1687489f?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SJXRVKTgl32x4wCl~rQx8et-LBW8j-bzrgHnbOGvk5nA38ovybQnynamNLmyg8lFlECevNWBZlZW5rAvFw8smGg2O1wxWcXxrnka2A6QUhQg9IAaZX63brvIoiDv-r5S-T29jUOxG4tyD5N~CD8unYkhlrcJ5KVXBebnDi8~Nnxw9uniEo6rQJNU5NUFf0~W2cyidfB1PALLsof1yNbZrsxnvnSEgEAZJw~RQSZfHbuqIWSHqQ1TFUaXm-Hll3tavR02gMPSrZHHfsWefFbIUXtcnB9RWWoRbuUpYdogsiMbhS2bMBVBvl9r5LUb6V536JxWJRsMGQRX3YUusuEPJA__");
  }
}

.live{
  width: 53px;
  height: 28px;
  background-color: #FF2D55;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
}
